<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Über das Projekt</h2>
        <!-- <hr class="star-light"> -->
        <br>
        <br>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-2">
        <p> Mit diesem Projekt soll der schülerzentrierte, zeitgemäße und praktische Informatikunterricht im Mittelpunkt sehen. Erlernte Inhalte sollen
          keinen abstrakten &#8222;Tutorial-Charakter&#8220; haben, sondern nachhaltig in dem Alltag der Schülerinnen und Schüler verankert werden.
        </p>
      </div>
      <div class="col-lg-4">
        <p>Die Grundlage dieses Projektes ist die Programmiersprache Python. Darauf aufbauend werden Python-Notebooks verwendet, die &nbsp;&ndash; auch dem Namen nach &nbsp;&ndash; Notizbuch-Charakter haben. Damit kann Programmcode und ansprechend formatierter Text in einem Format verwendet werden.</p>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 text-center">
        <a href="https://mybinder.org/v2/gh/tna76874/notebooks-school/{{ site.binder_commit }}?labpath=Informatik" target="_blank">
        <video width="70%" height="auto"  autoplay muted loop playsinline>
          <source src="/img/vid/info-bildcodierung.m4v" type="video/mp4">
        Your browser does not support the video tag.
        </video>
        </a>
      </div>
    </div>
  </div>
</section>
